/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}




// importando archivos

@import "utilidades/variables";
@import "utilidades/mixin.scss";
@import "utilidades/extend.scss";


//Nestify




/*estilo menu*/

body {
    @extend %estilos-Menu;
    header{
        @extend %estilos-Header;
        .nav-Menu{
            padding-top: 7px ;
            background-color: #1d1b1b;
            border-radius: 15px;
        }
        nav {
            div{
            .menu-Titulo{
                font-family: "PT Sans Narrow", sans-serif;
                font-size: 2.3rem;
                text-decoration: none;
                color:#ECE9E6;
                text-shadow:0.5px 0.5px 3px #4e4e4e;
            }
        }
        }
        ul {
            li {
                display: inline-block;
                font-family: "PT Sans Narrow", sans-serif;
                

                a {
                    @extend %estilos-Boton
                }

                a:hover {
                    transform: scale(0.8);
                    background-image: linear-gradient(to left, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
                    transition: 1s;
                }
            }
        }
    }
}

/*estilo del main*/

.index-Main {
    margin: 80px;
    .titulo{
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 10px;
        color: #000000;
        text-shadow: 1px 1px 3px #222222;
    }
    .descrip-Home {
        padding: 10px;
        text-align: center;
        font-size: 22px;
        color: $textos-especiales;
        text-shadow:0.5px 0.5px 4px #bebdbc;
        display: flex;
        flex-direction: column;
        font-family: 'Cinzel', serif;
    }
}


/*estilo del footer*/

footer {
    margin-top: 100px;

    h2 {
        font-size: 18px;
        color: rgb(3, 3, 3);
        text-align: center;
    }

    nav {
        div {
            display: flex;
            gap: 30px;
            justify-content: space-around;
            padding: 10px;

            a {
                color: white;
                font-size: 18px;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 6px;
                text-shadow: 1px 1px 3px #000000;
                scale: (1);
                transition: 1s;

                .fotos-Redes {
                    @include medidas(50px, 50px);
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                }

                .fotos-RedesLink {
                    @include medidas(60px, 60px);
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                }
            }

            a:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }
    }
}

/*edit de perfil*/

body {
    header {
        .presentacion {
            h2 {
                text-align: center;
                @include marginpadding(30px, 10px);
                color: $textos-especiales;
            }
        }
    }

    main {
        .nombre {
            text-align: center;
            text-decoration: underline;
            font-size: 45px;
            font-family: 'Cinzel', serif;
            color:#fffdfd;
            text-shadow:0.5px 0.5px 3px #000000;
            @include marginpadding(1rem, 0.2rem)
        }
    }

    .info-Personal {
        font-family: 'Cinzel', serif;
        font-size: 40px;
        margin-top: 120px;
        color:#fffdfd ;
        text-shadow:0.5px 0.5px 3px #000000;
        text-align: center;
    }

    .subtitulo-Nombre {
        text-align: center;
        margin-bottom: 80px;
        font-size: 30px;
        font-family: 'Cinzel', serif;
        color:#fffdfd;
        text-shadow:0.5px 0.5px 3px #000000;
    }

    .dato {
        text-align: center;
        color: $color-letras;
        @include marginpadding(12px, 5px);
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        font-size: 1.5rem;
        text-shadow:0.5px 0.5px 3px #000000;
        background-color: $fondos-especiales;
    }

    .Info {
        @include marginpadding(12px, 5px);
        box-shadow: 2px 2px 5px black;
        text-align: center;
        color: $color-letras;
        text-decoration: underline;
        border-radius: 10px;
        font-size: 1.5rem;
        text-shadow:0.5px 0.5px 3px #000000;
        background-color: $fondos-especiales;
    }
    .presentacion{
        color: $color-letras;
        box-shadow: 3px 3px 6px black;
        border-radius: 10px;
        @include marginpadding(30px, 10px);
        background-color: $fondos-especiales;
        text-shadow:0.5px 0.5px 3px #000000;
    }

    h2 {
        text-decoration: underline;
    }
}

/*edit de aptitudes*/



main {
    margin-top: 4rem;
    .habilidades{
        color: #FFFFFF;
        text-shadow: 0.5px 0.5px 3px black;
    }
    .aptitudes {
        text-align: center;
        color: rgb(80, 255, 133);
        font-size: 23px;
        padding: 7px;
    }
}


/*edit de servicios*/ 
.main-Servicios{
    div{
        display: grid;
        grid-template-areas: "titulo titulo"
        "info img"
        "info img";
        .titulo-Servicios{
            grid-area: titulo;
            text-align: center;
            margin: 4rem;
            font-size: 2.5rem;
            color: rgb(255, 255, 255);
            text-shadow: 0.5px 0.5px 3px black;
        }
        .compu-Servicios{
            grid-area: img;
            @include medidas(35rem, 35rem);
            margin:3.5rem;
            border-radius: 10px;
            box-shadow: 2px 2px 5px black;
        }
        .info-Servicios{
            grid-area: info;
            text-align: center;
            margin-top: 1rem;
            padding: 0.4rem;
            border-radius: 10px;
            font-size: 2rem;
            color: $textos-especiales;
            text-shadow:0.5px 0.5px 4px #5c5b5b;
        }
    }
}


/*edit de contacto*/ 

main{
    .cuerpo-form{
        color: #FFFFFF;
        text-shadow:0.5px 0.5px 3px #414141;
        margin-top: 4rem;
        margin-left: 2rem !important;
        div{
            .tamañot{
                width: 35% !important;
            }
            
            .tamañob{
                width: 50% !important;
            }
            .tamañoe{
                width: 60% !important;
            }
        
        }
    }
}

/*estilo foto*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        .foton{
            border-radius: 100%;
            box-shadow: 2px 2px 4px black;
            @include medidas(30rem, 30rem);
            @include marginpadding(4rem,0 )
        }
    }
}

/* estilo logo de WSP */

footer{
    .logo-WspMove{
        display: flex;
        position: fixed;
        bottom: 110px;
        top: 0;
        left: 0;
        z-index: 0;
        justify-content: flex-end;
        align-items: flex-end;
        .logo-Wsp{
            @include medidas(5rem, 4.5rem);
            z-index: 0;
            padding: 0%;
        }
    }
}


/*mq*/ 

@media (max-width:750px){
    header{
        .menu-Titulo{
            font-size: 13px;
        }
        a{
            text-align: center;
        }
    }

    main{
        h2{
            .foton{
                display: flex;
                @include marginpadding(5rem, 0);
                @include medidas(20rem, 20rem);
                justify-content: center;
                align-items: center;
                margin-right: 3rem;
            }
        }
        }
    

    .main-Servicios{
        display: grid;
        grid-template-areas: "titulo titulo"
        "img img"
        "info info" !important;
        .titulo-Servicios{
            font-size: 1.3rem !important;
            display: grid;
            grid-area: titulo;
        }
        .info-Servicios{
            font-size: 15px !important;
            display: grid;
            grid-area: info;
            width: 100%;
        }
        .compu-Servicios{
            @include medidas(200px !important, 170px !important);
            margin: 0.5rem;
            display: grid;
            grid-area: img;
            padding: 0%;
        }
    }

    main{ 
        form{
        fieldset{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35rem;
        width: 10rem;}
        }
    }
}